* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin: 10px;
    color: purple;
}
.slider-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    .slider {
        width: 100%;
        height: 700px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .btns {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        i {
            color: white;
            font-size: 60px;
            cursor: pointer;
            background-color: transparent;
            transition: 0.7s;
            &:hover {
                color: purple;
            }
        }
    }
}

.tab-menu-container {
    .tabs {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        div {
            border: 1px solid black;
            cursor: pointer;
            background-color: #ececec;
            padding: 20px;
        }
        .active {
            background-color: black !important;
            color: #ececec;
        }
    }
    .content {
        div {
            display: none;
            border: 1px solid black;
            background-color: brown;
            padding: 20px;
            color: white;
        }
        .show {
            display: block !important;
        }
    }
}
